<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>ADD NEW BLOG</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="cat" style="background-color:black; color:white" >
          <option>SELECT CATEGORY</option>
            {% for i in allcat %}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}

        </select>
        <br><br>
        <input type="text" placeholder="Title" name="title">
        <br><br>
        <textarea  placeholder=" Short Description" name="short"
                   style="height:100px"></textarea>
        <br><br>
        <textarea  placeholder=" Long Description" name="long"
                    style="height:100px"></textarea>
        <br><br>
            <input type="file" placeholder="image" name="img">
        <br><br>
        <input type="submit" >

    </form>
</center>

</body>
</html>