<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    {% if details.image %}
<img src="{{ details.image.url }}">
{% else %}
<h3>No Image</h3>
{% endif %}

<h1>Category: {{ details.cat.name }}</h1>
<h1>Detail of {{ details.title }} -- {{ details.date }}</h1>
<p>{{ details.desc }}</p>
<p>{{ details.long_desc }}</p>
    <br><br>

    <button><a href="{% url 'edit_blog' details.id %}">Edit</a></button>
    <button><a href="{% url 'delete' details.id %}">Delete</a></button>

</center>
</body>
</html>