<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>ADD TWO NUMBER</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" placeholder="First Number"
               name="num1">
        <br> <br>
         <input type="number" placeholder="Second Number"
                name="num2">
        <br> <br>
        <input type="submit" value="ADD">
        <h2> OUTPUT: {{ opt }}</h2>
    </form>

</center>
</body>
</html>