{% extends 'newtemp/base.html' %}
{% load static %}
{% block body %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-content-area">
                        <div class="row">
                            <div class="col-12 col-lg-3"></div>
                            <div class="col-12 col-lg-6">
                                <div class="contact-content">
                                    <h4>Create Blog </h4>

                                    <!-- Contact Form Area -->
                                    <div class="contact-form-area">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col-12 col-lg-9">
													<div class="form-group">
                                                         <select name="cat" >
                                                        <option>Select Category</option>
                                                            {% for i in allcat %}
                                                            <option value="{{i.id}}">{{i.name}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
												</div>

                                            <div class="row">
                                                <div class="col-12 col-lg-9">
													<div class="form-group">
                                                        <input type="text" class="form-control" name="title" placeholder="Title">
                                                    </div>
												</div>
												 <div class="col-12 col-lg-9">
													<div class="form-group">
                                                        <textarea class="form-control" name="short" placeholder="Short Description" ></textarea>
													</div>
												 </div>
													 <div class="col-12 col-lg-9">
														<div class="form-group">
                                                        	<textarea class="form-control" name="long" placeholder="Long Description" ></textarea>
                                                    	</div>
                                                	</div>
													 <div class="col-12 col-lg-9">
														<div class="form-group">
                                                        	<input type="file" class="form-control" name="img" placeholder="Image">
                                                    	</div>
                                                	</div>
                                                <div class="col-12">
                                                    <button type="submit" class="btn foode-btn">Create Blog</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

    {% endblock %}